/*GLOBAL-------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
    /*to make the sizing of boxes more tidy*/
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: rgb(171, 252, 255) #000000;
    cursor: none;
    -webkit-user-select: none;
    user-select: none;
}

/*Reference:https://codepen.io/stephenpaton-tech/full/JjRvGmY*/
/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(171, 252, 255);
    border-radius: 10px;
    border: 3px solid #000000;
}

html,body{
    font-family: "Silkscreen", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

/* remove some designs for devices other than PC or laptops */
/* however, when the code below don't work the way as described above */
/* for PC/laptop screens with smaller windows, the cursor effect is also removed */
/* @media (max-width: 1024px) {
    body {
        cursor: auto !important;
        -webkit-user-select: auto;
        user-select: auto;  
    }
    .circle, #circle {
        display: none !important;
    }
} */

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
   
h1{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    display: block;
    color: rgb(0, 206, 209);
    font-size: 68px;
    line-height: 1;
    text-decoration: none;
    word-break: break-word;
}

p{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(0, 206, 209);
    line-height: 1.6;
    -webkit-user-select: none;
    user-select: none;
}

/*custom cursor*/
/*Coded using GitHub Copilot*/
/*reference: https://codepen.io/emelyanova/details/BavZZYY*/
.circle {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    position: fixed;
    top: -10rem;
    left: -10rem;
    height: 2rem;
    width: 2rem;
    transition: transform 0.4s, background 0.4s;
    pointer-events: none; 
    z-index: 9999;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(171, 252, 255);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background: radial-gradient(circle,
    rgb(19, 19, 19) 0%, rgb(0, 0, 0) 100%);
    overflow-x: hidden;
    overflow-y: auto;
}

hr {
    display: block;
    border: 3px dashed #ff6ec7;
}

.fitWindow{
    position: fixed;
    float: left;
    clear: both;
    width: 100dvw;
    height: 100dvh;
    z-index: -10;
}

/*NAV-----------------------------------------------------------------------------------------------------------------*/
#theNav{
    position: fixed;
    top: 0;
    line-height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 35px;
    z-index: 100; /*to make sure nav. is on top, allow hover effect*/
}

#theFixedNav{
    position: fixed;
    top: 0;
    line-height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 35px;
    z-index: 100; /*to make sure nav. is on top, allow hover effect*/
}

/*Align the content of navigation bar (Home...) to right*/
#alignRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    float: right;
    margin: 0 20px;
}

.navItem{
    display: inline-block;
    padding: 5px 20px;
}

/*Style the content of navigation bar (Home...)*/
.menu{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: rgba(47, 0, 180, 0.74);
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 80px;
}

/*Change text colour when mouse on hover*/
.menu:hover{
    color: rgb(171, 252, 255);
}

@media screen and (max-width: 850px) {
    .menu {
        margin-left: 10px;
    }
}

/*Align my name to left*/
#alignLeft{
    float: left;
    margin-left: 10px;
}

/*Style for my name*/
#home{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: rgb(0, 206, 209);
    font-size: 25px;
    font-weight: normal;
    margin-left: 20px;
}

#home:hover{
    color: rgb(171, 252, 255);
}

.yarndings-12-regular {
    font-family: "Yarndings 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*the dropdown menu-------------------------------*/
/*reference: https://www.w3schools.com/css/css_dropdowns.asp*/
.dropbtn {
    display: flex;
    justify-content: center;
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: rgba(47, 0, 180, 0.74);
    background: rgba(34, 34, 34, 0);
    padding: 12px 16px;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 80px;
}

.dropdown-content {
    color: #d1c2ff;
    display: none;
    position: absolute;
    min-width: 100%;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: rgba(47, 0, 180, 0.74);
    padding: 3px 50px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    color: rgb(171, 252, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(171, 252, 255);
    background: rgba(34, 34, 34, 0);
    box-shadow: none;
}

/* for larger screens */
@media screen and (min-width: 850px) {
    .dropdown-content {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.606);
        left: 50%;
        transform: translateX(-50%);
    }
    .theContent:hover {
        background-color: rgba(0, 255, 234, 0.07);
    }
}

/* for smaller screens */
@media screen and (max-width: 850px) {
    .dropdown {
        margin-left: 10px;
    }
    .dropdown-content {
        position: static;
    }
}

.dropdown-content .currentPage{
    color: #d1c2ff;
}

.currentPage{
    color: #d1c2ff;
}

/*A menu icon should be displayed when media screen gets smaller*/
#menuIcon{
    /*hide the menu icon by default*/
    display: none;
    margin: 10px 20px;
    float: right;
}

/*Three lines create the menu icon*/
.line1, .line2, .line3{
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 5px;
    transition: 0.3s ease-in;
}

/*Animate the icon when click on it*/
.animate .line1{
    transform: rotate(-45deg) translate(-4px, 6px);
}
.animate .line2{
    opacity: 0;
}
.animate .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}

/*Side menu: this will be shown when screen size gets smaller*/
#sideMenu{
    /*By default, it's not shown on screen*/
    display: none;
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 100;
    margin: 0;
    top: 10vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.67);
    text-align: left; /* Aligns text to the left */
    padding-left: 20px;
    padding-top: 20px;
}

#sideMenu a, .dropbtn {
    display: block;
    text-align: left;
    padding: 10px 0;
}

/*When media screen is smaller than 850px(width), the content in navbar will be replaced by a menu icon*/
@media screen and (max-width: 850px) {
    #sideMenu{
        display: block;
        /*The content in the menu icon will be hidden if the user haven't click the menu icon*/
        opacity: 0;
        transition: opacity 0.8s ease-in;
    }
    /*To show the menu icon when screen gets smaller*/
    #menuIcon{
        display: block;
        /*cursor: pointer;*/
    }
    #alignRight{
        display: none;
    }
}

/*INDEX---------------------------------------------------------------------------------------------------------------*/
/*landing page title*/
.landWelcome{
    position: absolute;
    bottom: 0;
    right: 3vw;
    text-align: right;
}

.title{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: rgb(0, 206, 209);
    font-size: 32px;
    line-height: 1;
    margin: 0 2vw;
}

.subTitle{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: rgb(0, 206, 209);
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    /*letter-spacing: 2px;*/
    margin: 2vw;
}

#music{
    position: fixed;
    z-index: 150;
    bottom: 3vh;
    left: 3vw;
    padding: 10px 14px;
    background-color: rgba(0, 255, 234, 0.07);
    color: #ffc8e7;
    /*cursor: pointer;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.51);
}

#music:hover {
    color: rgba(0, 255, 234, 0.99);
    box-shadow: 0 0 30px rgba(0, 255, 234, 0.74);
}

#musicIcon{
    margin: 4px 0;
    padding: 0 2px 0 0;
}

/*Texts about the play audio button:*/
#playText{
    opacity: 0;
    position: fixed;
    z-index: 180;
    bottom: 3.4vh;
    left: 6vw;
    padding: 10px 14px;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.5s;
}

#pauseText{
    opacity: 0;
    position: fixed;
    z-index: 180;
    bottom: 3.4vh;
    left: 6vw;
    padding: 10px 14px;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.5s;
}

#newPlayText{
    opacity: 0;
    position: fixed;
    z-index: 180;
    bottom: 3.4vh;
    left: 6vw;
    padding: 10px 14px;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.5s;
}

#newPauseText{
    opacity: 0;
    position: fixed;
    z-index: 180;
    bottom: 3.4vh;
    left: 6vw;
    padding: 10px 14px;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.5s;
}

/*landing page eggs----------------------*/
/* .ctrEgg{
    background-color: rgba(255, 255, 255, 0.03);
    width: 20%;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.landPgEgg{
    width: 100%;
    display: block;
    position: relative;
    padding: 20px;
    filter: invert(100%);
}

.landPgEgg:hover{
    box-shadow: 10px 10px 40px rgb(132, 87, 255);
    filter: invert(0%);
} */

/*egg 1*/
/* #container1{
    position: absolute;
    left: 10%;
    top: 36%;
}

#container1:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
} */

/*egg 2*/
/* #container2{
    position: absolute;
    left: 40%;
    top: 36%;
}

#container2:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
} */

/*egg 3*/
/* #container3{
    position: absolute;
    left: 70%;
    top: 36%;
}

#container3:hover{
    box-shadow: 10px 10px 20px rgb(0, 206, 209);
} */

/*land page buttons*/
/* .landPgBtn{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    background: rgba(255, 239, 224, 0);
    box-shadow: 5px 5px 20px rgb(5, 5, 5);
    transition: background 0.5s;
} */

/*button:last-child:hover{*/
/*    background: linear-gradient(90deg, rgb(153, 50, 204), rgb(0, 255, 234), rgb(138, 43, 226));*/
/*    background-size: 400%;*/
/*}*/
/*button:last-child:before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: inherit;*/
/*    top: -5px;*/
/*    right: -5px;*/
/*    bottom: -5px;*/
/*    left: -5px;*/
/*    border-radius: 50px;*/
/*    filter: blur(20px);*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s;*/
/*}*/
/*button:last-child:hover:before{*/
/*    opacity: 1;*/
/*    z-index: -1;*/
/*}*/
/*button:hover{*/
/*    z-index: 1;*/
/*    box-shadow: 10px 10px 40px rgb(61, 30, 155);*/
/*    animation: glow 8s linear infinite;*/
/*}*/

/*@keyframes glow {*/
/*    0%{*/
/*        background-position: 0;*/
/*    }*/
/*    100%{*/
/*        background-position: 400%;*/
/*    }*/
/*}*/

/* screen effect------------------------------------------------------------------------------------ */
/*Reference: http://aleclownes.com/2017/02/01/crt-display.html*/
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 217, 255, 0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 217, 255, 0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 217, 255, 0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 217, 255, 0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    /*20% {*/
    /*    text-shadow: 3.4794037899852017px 0 1px rgba(0, 217, 255, 0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*25% {*/
    /*    text-shadow: 1.6125630401149584px 0 1px rgba(0, 217, 255, 0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*30% {*/
    /*    text-shadow: 0.7015590085143956px 0 1px rgba(0, 217, 255, 0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*35% {*/
    /*    text-shadow: 3.896914047650351px 0 1px rgba(0, 217, 255, 0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*40% {*/
    /*    text-shadow: 3.870905614848819px 0 1px rgba(0, 217, 255, 0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*45% {*/
    /*    text-shadow: 2.231056963361899px 0 1px rgba(0, 217, 255, 0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*50% {*/
    /*    text-shadow: 0.08084290417898504px 0 1px rgba(0, 217, 255, 0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*55% {*/
    /*    text-shadow: 2.3758461067427543px 0 1px rgba(0, 217, 255, 0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*60% {*/
    /*    text-shadow: 2.202193051050636px 0 1px rgba(0, 217, 255, 0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*65% {*/
    /*    text-shadow: 2.8638780614874975px 0 1px rgba(0, 217, 255, 0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*70% {*/
    /*    text-shadow: 0.48874025155497314px 0 1px rgba(0, 217, 255, 0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*75% {*/
    /*    text-shadow: 1.8948491305757957px 0 1px rgba(0, 217, 255, 0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*80% {*/
    /*    text-shadow: 0.0833037308038857px 0 1px rgba(0, 217, 255, 0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    /*85% {*/
    /*    text-shadow: 0.09769827255241735px 0 1px rgba(0, 217, 255, 0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;*/
    /*}*/
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 217, 255, 0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 217, 255, 0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 217, 255, 0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

.crt {
    animation: textShadow 3s infinite;
}

/*BACK TO TOP BUTTON--------------*/
/* #backToTop{
    position: fixed;
    z-index: 150;
    bottom: 3vh;
    left: 3vw;
    padding: 10px 14px;
    background-color: rgba(0, 255, 234, 0.76);
    color: #ffc8e7;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.76);
}

#backToTop:hover {
    background-color: rgb(255, 110, 199);
    color: #00FFEAC1;
    box-shadow: 0 0 10px #ff6ec7;
} */

footer{
    background: rgba(9, 2, 34, 0.25);
}

.footerContent{
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: #ff6ec7;
    text-align: center;
}

/*PROJECT GALLERY--------------------------------------------------------------------------------------------------*/
.listLayout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.listLayoutUl{
    width: 100vw;
    padding: 20vh 8vw;
}

.listGroup{
    font-family: "Yarndings 12", "Courier New", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0; 
}

.listTitle {
    display: block;
    color: rgb(0, 206, 209);
    font-size: 68px;
    line-height: 1;
    text-decoration: none;
    word-break: break-word;
    transition: text-shadow 0.4s ease-out;
}

.listTitle:hover {
    font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
    color: #ff6ec7;
    text-shadow: 0 2px 20px #ff6ec7;
}

@media (max-width: 1024px) {
    .listTitle:active{
        font-family: "Silkscreen", "Courier New", Helvetica, sans-serif;
        color: #ff6ec7;
        text-shadow: 0 2px 20px #ff6ec7;
        /*text-decoration: underline;*/
    }
}

.cornerVideo{
    position: fixed;
    /*top: 300px;*/
    /*right: 150px;*/
    bottom: 3vh;
    right: 2vw;
    width: 12vw;
    height: 12vw;
    /*border: 2px solid aqua;*/
    border-radius: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}


.placeVideo{
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    transform: scale(2.3);
    left: 3px;
    top: 4px;
}

/*PROJECT 2B------------------------------------------------------------------------------------------*/

.pgLayout{
    display: grid;
    width: 80vw;
    height: 100vh;
    margin: 20vh 8vw;
}


.pgLayout > * {
    max-width: 80vw;
    max-height: 100%; 
    margin: 20px;
}

.diceImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    height: auto;
}


.algContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.algImg {
    width: 100%;
    height: auto;
    border-radius: 2vw;
}

.algImg:hover {
    border:#d1c2ff 2px solid;
    box-shadow: #d1c2ff 0 0 20px;
    transition: all 0.3s ease-in-out;
}

.dataText{
    text-align: center;
    margin: 6px 0;
}

.p5PageBtn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: rgba(0, 255, 234, 0.07);
    color: #ffc8e7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.51);
    transition: 0.5s;
}

.iframeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.iframeContainer1by2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.iframeContainer2By4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.p5PageGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.p5PageGrid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: #d1c2ff 2px solid;
}

#shapeIframe, #shapeIframe2, #lineIframe, #imageIframe {
    display: block;
    position: relative;
}

.p5PageContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

.p5DiceBox {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

.transformContainer {
    transform: scale(0.7);
    transform-origin: top center;
}

.p5Page{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: #d1c2ff 2px solid;
}

.p5ExampleContainer {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p5ExampleText {
    display: block;
    margin-left: 10%;
    margin-bottom: 10px;
}

.p5Example{
    width: 80%;
    /* height: 100vh; */
    display: block;
    margin: auto;
}

.imgGrid3By3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
}

.imgGrid3By3 .diceScrShots {
    width: 100%;
    height: auto;
}

.diceScrShots{
    border-radius: 1vw;
}

.diceScrShots:hover {
    transform: scale(1.25);
    border:#d1c2ff 2px solid;
    box-shadow: #d1c2ff 0 0 20px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 850px) {
    .imgGrid3By3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px;
    }
}

@media (max-width: 400px) {
    .imgGrid3By3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 14px;
    }
}

#inspList{
    text-align: center;
}

@keyframes text-glow {
    0% {
        text-shadow: 0 0 5px rgba(0, 206, 209, 0.355), 0 0 10px rgba(0, 206, 209, 0.355), 0 0 15px rgba(0, 206, 209, 0.355), 0 0 20px rgba(0, 206, 209, 0.355);
    }
    100% {
        text-shadow: 0 0 20px rgba(0, 206, 209, 0.355), 0 0 30px rgba(0, 206, 209, 0.355), 0 0 40px rgba(0, 206, 209, 0.355), 0 0 50px rgba(0, 206, 209, 0.355);
    }
}
